@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);


.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}





/*Challenge Template Above*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}


body {
  background-color: #D5D3D4;
}

.frame {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.line {

    margin: 15px 0;
    height: 8px;
    width: 80px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.3);

    transition: all 500ms;
}


.content[status="0"] .line:nth-child(1) {
    animation: b1 500ms forwards;
}
.content[status="1"] .line:nth-child(1) {
    animation: f1 500ms forwards;
}

.content[status="0"] .line:nth-child(2) {
    animation: b2 500ms forwards;
}
.content[status="1"] .line:nth-child(2) {
    animation: f2 500ms forwards;
}

.content[status="0"] .line:nth-child(3) {
    animation: b3 500ms forwards;
}
.content[status="1"] .line:nth-child(3) {
    animation: f3 500ms forwards;
}

@keyframes b1 {
    0% {
        transform: translateY(23px) rotate(45deg);
    }
    50% {
        transform: translateY(23px) rotate(0);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes b2 {
    0%, 50% {
        opacity: 0;
        transform: scale(0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes b3 {
    0% {
        transform: translateY(-23px) rotate(135deg);
    }
    50% {
        transform: translateY(-23px) rotate(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes f1 {
    50% {
        transform: translateY(23px);
    }
    100% {
        transform: translateY(23px) rotate(45deg);
    }
}
@keyframes f2 {
    50%, 100% {
        opacity: 0;
        transform: scale(0, 0);
    }
}
@keyframes f3 {
    50% {
        transform: translateY(-23px);
    }
    100% {
        transform: translateY(-23px) rotate(135deg);
    }
}
