
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);



.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*Challenge Template Above*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.frame {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
.numbers {
	position: relative;
	height: 100px;
	width: 200px;

	.number {
		position: absolute;
		box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
	}

	.one {
		background-color: #ff6464;
		border-radius: 3px;
	}

	.zero {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		border: 24px solid #ff6464;
	}

	.it1 {
		height: 40px;
		width: 20px;
		left: -16px;
		transform: rotate(50deg);
	}

	.it2 {
		height: 100px;
		width: 24px;
	}

	.it3 {
		z-index: -98;
		left: 17px;
	}

	.it4 {
		z-index: -99;
		left: 100px;
	}
}

.letters {
	color: #ff6464;
	font-family: 'Courier New', 'Courier', sans-serif;
	
	.text {	
		display: block;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
	}

	.big {
		font-size: 82px;
		line-height: 60px;
		margin-top: 6px;
	}
  
	.small {
		font-size: 23px;
		line-height: 20px;
		letter-spacing: 0.05em;
	}
}